<main class="page">

  <form class="form" autocomplete="off" action="/celebrities/{{celebrity._id}}/edit" method="POST">
    <h2 class="title">Editing: {{celebrity.name}}</h2>

    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" name="name" value="{{celebrity.name}}">
    </div>

    <div class="form-group">
      <label for="occupation">Occupation</label>
      <input type="text" id="occupation" name="occupation" value="{{celebrity.occupation}}">
    </div>

    <div class="form-group">
      <label for="catchPhrase">Catch phrase</label>
      <input type="text" id="catchPhrase" name="catchPhrase" value="{{celebrity.catchPhrase}}">
    </div>

    <button class="btn-submit">Submit</button>
  </form>
</main>