<main class="page">

  <div class="celebrity-detail">
    <q class="catch-phrase">{{celebrity.catchPhrase}}</q>
    <h1 class="name">{{celebrity.name}}</h1>
    <p class="occupation">{{celebrity.occupation}}</p>
  </div>
  <h3>Edit <a href="/celebrities/{{celebrity._id}}/edit"><i class="far fa-edit"></i></a> Delete <a
      href="/celebrities/{{celebrity._id}}/delete"><i class="far fa-trash-alt"></i></a></h3>
</main>