<main class="page">
  <div class="movie-detail">
    <h2>{{movie.title}}</h2>
    <p>{{movie.genre}}</p>
    <p>{{movie.plot}}</p>
    <a class="link" href="/movies">Go back</a>
    <h3>Edit <a href="/movies/{{movie._id}}/edit"><i class="far fa-edit"></i></a> Delete <a
        href="/movies/{{movie._id}}/delete"><i class="far fa-trash-alt"></i></a></h3>
  </div>

</main>