<div class="album">
    <h1 class="title">{{album.title}}</h1>
    <img src="{{album.cover}}" alt="" class="cover">
    <p>
        <a href="/artist/{{album.artist._id}}" class="link">{{album.artist.name}}</a> recorded this opus in
        {{format-date album.releaseDate 'YYYY' }}
    </p>
    <hr>
    <p>
       This record has been produced by {{album.label.name}}
    </p>
</div>