<div class="main-content-products flexed-item big-container">

  {{!-- CATEGORY --}}
  <aside class="tag-wrapper">
    <h4 class="tag-title">All Tags</h4>
    <form id="filter-form">
      <ul id="tag_list" class="tag-list" data-category="{{category}}">
        {{#each tags}}
        <li class="tag-list-item">
          <input name="tags" value="{{this._id}}" id="input_{{this._id}}" type="checkbox" data-tag-id="{{this._id}}"
            class="checkbox" />
          <label for="input_{{this._id}}">{{this.label}}</label>
        </li>
        {{/each}}
      </ul>
    </form>
  </aside>

  {{!-- PRODUCTS--}}
  <section class="products-wrapper">
    <div class="products-infos">
      <h4 class="products-title">
        {{#compare category "collection" operator="==="}}
        Whole
        {{/compare}}
        {{#compare category "collection" operator="!="}}
        {{category}}
        {{/compare}}
        collection <span id="products_count" class="products-count">({{sneakers.length}})</span>
      </h4>
      {{#compare category "men" operator="==="}}
      <p class="products-subtitle">Prepare for your miles with the latest styles and colors of men's running shoes.
        Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
        pairs running shoes that align with your running philosophy.</p>
      {{/compare}}
      {{#compare category "women" operator="==="}}
      <p class="products-subtitle">Prepare for your miles with the latest styles and colors of women's running shoes.
        Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
        pairs running shoes that align with your running philosophy.</p>
      {{/compare}}
      {{#compare category "kids" operator="==="}}
      <p class="products-subtitle">Prepare for your miles with the latest styles and colors of kids's running shoes.
        Take advantage of signature a footwear technologies including Zoom, Flyknite, and find the
        pairs running shoes that align with your running philosophy.</p>
      {{/compare}}
    </div>
    {{#unless sneakers}}
    <p>Sorry, no sneakers yet !</p>
    {{/unless}}
    <div id="products_grid" class="products-grid">
      {{#each sneakers}}
      <div class="grid-item">
        {{> sneaker_mini }}
      </div>
      {{/each}}
    </div>
  </section>
</div>